<div class="row-fluid">
	<div class="span12">
		<div class="page-header">
			<h1>Solrita.js <small>a Backbone.js client for Apache Solr</small></h1>
		</div>
		<div id="search"></div>
	</div>
</div>
<div id="filters"></div>
<div class="row-fluid">
	<div class="span9">
		<div class="row-fluid">
			<div id="results-header"></div>
		</div>
		<div class="row-fluid">
			<ul id="results" class="unstyled"></ul>
		</div>
		<div class="row-fluid">
			<div id="pagination"></div>
		</div>
	</div>
	<div class="span3">
		<div id="facets"></div>
	</div>
</div>
<hr/>
<footer>
<div>
	<span>Documentation: </span> <a href="http://lucene.apache.org/solr">Solr Home Page</a>, <a href="http://wiki.apache.org/solr">Solr Wiki</a>
</div>
<div>Disclaimer: The locations displayed in this demonstration are purely fictional.  It is more than likely that no store with the items listed actually exists at that location!</div>    
</footer>
