<header class="row-fluid">
  <div class="span12">
    <ul class="nav nav-pills pull-right">
      <li class="active">
        <a href="#">Demo</a>
      </li>
      <li>
        <a href="https://github.com/jbarroso/solritajs">Source</a>
      </li>
    </ul>
    <h2>
      <a class="brand" href="#">Solrita.js</a>
      <small style="margin-top:0px;white-space: nowrap">Backbone.js client for
        <a href="http://lucene.apache.org/solr/">Apache Solr</a>
      </small>
    </h2>
  </div>
</header>
<div class="row-fluid">
  <div class="span12">
    <div id="search"></div>
  </div>
</div>
<div id="filters"></div>
<div class="row-fluid">
  <div class="span9">
    <div class="row-fluid">
      <div class="span12">
          <div id="results-header" class="row-fluid"></div>
      </div>
    </div>
    <div id="results" class="row-fluid"/>
    <div id="pagination" class="row-fluid"></div>
  </div>
  <div id="facets" class="span3"></div>
</div>
<hr/>
<footer>
  <p class="muted credit">
    <a href="https://github.com/jbarroso">Jose Angel Barroso</a>| MIT Licence</p>
</footer>
